/* Gruvbox colors from https://github.com/YV31/gruvbox-css/ */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary:     #282828;
		--bg-secondary:   #3C3836;
		--text-primary:   #FBF1C7;
		--text-secondary: #EBDBB2;
		--highlight:      #B8BB26;
	}
}

/* Note: light mode isn't great, but kinda works */
@media (prefers-color-scheme: light) {
	:root {
		--bg-primary:     #FBF1C7;
		--bg-secondary:   #EBDBB2;
		--text-primary:   #282828;
		--text-secondary: #3C3836;
		--highlight:      #458588;
	}
}

:root {
	--red:    #FB4934;
	--green:  #B8BB26;
	--yellow: #FABD2F;
	--blue:   #83A598;
	--purple: #D3869B;
	--aqua:   #8EC07C;
	--gray:   #928374;
	--orange: #FE8019;

	--red-dim:    #CC2412;
	--green-dim:  #98971A;
	--yellow-dim: #D79921;
	--blue-dim:   #458588;
	--purple-dim: #B16286;
	--aqua-dim:   #689D6A;
	--gray-dim:   #A89984;
	--orange-dim: #D65D0E;

	--ff-mono: "Pixel Code";
}

/* General styles applied everywhere */
* {
	margin: 0;
	padding: 0;
	font-family: var(--ff-mono);
	box-sizing: border-box;
}

/* Markup for links that still looks like a link but fits the Gruvbox theme */
a {
	color: var(--text-primary);
	text-decoration: none;
}
a:hover {
	color: var(--blue-dim);
	text-decoration: underline;
}


/* Generic classes */
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.text-center {
	text-align: center;
}


/* Layout of the main body */
body {
	height: 100vh;
	max-width: 900px;
	margin: 0 auto; /* Center it horizontally */
	padding: 0 2em; /* Some padding for smaller windows */
	flex-direction: column;
	justify-content: center; /* Center it vertically */
	gap: 1em;
	color: var(--text-primary);
	background-color: var(--bg-primary);
}


#section_datetime {
	padding: 2.2em 0em; /* Extra padding underneat */
	justify-content: space-evenly;
}

/* h1 was too small */
#time_welcome h1, #date_weather h1 {
	font-size: 3.2em;
	font-weight: bold;
}


/*===: middle section :===*/
::placeholder {
	font-style: italic;
	color: var(--gray);
}

#section_middle_search {
	width: 100%;
	justify-content: center;
	padding: 1em 2em;
	background-color: var(--bg-secondary);
	border-radius: 6px;
}

/* Make sure both input and completion-suggestion have the same font,
 * due to input being in '<input>' that could be not the case. */
.searchbar_wrapper input[type="text"], .searchbar_wrapper span {
	font-family: var(--ff-mono);
	font-weight: var(--ff-weight-base);
	font-size: 1rem;
	letter-spacing: 0;
}

/* Make sure there is no space between the input and completion-suggestion */
#completion_suggestion {
	font-style: italic;
	color: var(--gray);
}

.terminal-form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}
.terminal-form label {
	width: auto;
	margin-right: 1em;
}
.terminal-form input[type="text"] {
	border: none;
	flex-grow: 1;
	background-color: var(--bg-secondary);
	color: var(--text-primary);
	box-sizing: content-box;
	padding: 0;
	width: auto;
	min-width: 1ch;
}
.terminal-form input[type="text"]:focus {
	outline: none;
}


#section_bottom_links {
	margin: 1em 0em;
	gap: 1em;
	justify-content: center;
}

/* Class used by html generated with javascript for the boxes with the links */
.generic_link {
	flex-grow: 1;
	padding: 1.1em;
	background: var(--bg-secondary);
	border-radius: 6px;
}

/*===: prompt section :===*/
.prompt_link {
	margin-bottom: 0.5em;
}
.res_prompt {
	margin-left: 1.5em;
}
.res_folder {
	color: var(--green);
}

/*===: global colors section :===*/
.col-01 {
	color: var(--yellow);
}
.col-02 {
	color: var(--blue);
}
.col-03 {
	color: var(--aqua);
}
.col-04 {
	color: var(--fg-dark-03);
}
