/* Gruvbox colors from https://github.com/YV31/gruvbox-css/ */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary:     #282828;
		--bg-secondary:   #3C3836;
		--text-primary:   #FBF1C7;
		--text-secondary: #EBDBB2;
		--highlight:      #B8BB26;
	}
}

/* Note: light mode isn't great, but kinda works */
@media (prefers-color-scheme: light) {
	:root {
		--bg-primary:     #FBF1C7;
		--bg-secondary:   #EBDBB2;
		--text-primary:   #282828;
		--text-secondary: #3C3836;
		--highlight:      #458588;
	}
}

:root {
	--red:    #FB4934;
	--green:  #B8BB26;
	--yellow: #FABD2F;
	--blue:   #83A598;
	--purple: #D3869B;
	--aqua:   #8EC07C;
	--gray:   #928374;
	--orange: #FE8019;

	--red-dim:    #CC2412;
	--green-dim:  #98971A;
	--yellow-dim: #D79921;
	--blue-dim:   #458588;
	--purple-dim: #B16286;
	--aqua-dim:   #689D6A;
	--gray-dim:   #A89984;
	--orange-dim: #D65D0E;

	--ff-mono: "Pixel Code";

	--corner-radius: 6px; /* will be used everywhere for consistency */
}

/* General styles applied everywhere */
* {
	margin: 0;
	padding: 0;
	font-family: var(--ff-mono);
	box-sizing: border-box;
}

/* Markup for links that still looks like a link but fits the Gruvbox theme */
a {
	color: var(--text-primary);
	text-decoration: none;
}
a:hover {
	color: var(--blue-dim);
	text-decoration: underline;
}


/* Generic classes */
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.text-center {
	text-align: center;
}


/* Layout of the main body */
body {
	height: 100vh;
	max-width: 900px;
	margin: 0 auto; /* Center it horizontally */
	padding: 0 2em; /* Some padding for smaller windows */
	flex-direction: column;
	justify-content: center; /* Center it vertically */
	gap: 1em;
	color: var(--text-primary);
	background-color: var(--bg-primary);
}


#section_datetime {
	padding: 2.2em 0em; /* Extra padding underneat */
	justify-content: space-evenly;
}

/* h1 was too small */
#time_welcome h1, #date_weather h1 {
	font-size: 3.2em;
	font-weight: bold;
}


#section_middle_search {
	padding: 1em 2em; /* Padding inside box around searchbar */
	background-color: var(--bg-secondary);
	border-radius: var(--corner-radius);
}

/* Custom style for the input placeholder */
::placeholder {
	font-style: italic;
	color: var(--gray);
}

/* Make sure both input and completion-suggestion have the same fontsize,
 * due to input being in '<input>' that could be not the case. */
.searchbar_wrapper input[type="text"], .searchbar_wrapper span {
	font-size: 1rem;
}

/* Completion suggestion same as placeholder */
#completion_suggestion {
	font-style: italic;
	color: var(--gray);
}

/* Some rules for the input-field specifically. Size is set using JS. */
.terminal-form {
	display: flex; /* Make sure that search-prompt follows 'Search: ' directly */
}
.terminal-form label {
	margin-right: 1em; /* Leave some space behind 'Search: ' */
}
.terminal-form input[type="text"] {
	border: none;
	outline: none; /* No border when focused */
	color: var(--text-primary);
	background-color: var(--bg-secondary);
}


#section_bottom_links {
	margin: 1em 0em;
	gap: 1em;
}

/* Class used by html generated with javascript for the boxes with the links */
.generic_link {
	flex-grow: 1;
	padding: 1.1em;
	background: var(--bg-secondary);
	border-radius: var(--corner-radius);
}

/* Some styling for the `tree <dir>` prompt */
.tree_prompt {
	margin-bottom: 0.5em;
}
.tree_result {
	margin-left: 1.5em;
}

/* Some colour-classes */
.colour_yellow {
	color: var(--yellow);
}
.colour_blue {
	color: var(--blue);
}
.colour_green {
	color: var(--green);
}
